body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    float: right;
}

.menu-button {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.menu-button:hover, .selected-menu-button {
    background-color: #e3e4e6;
}

.selected-menu-button {
    border-bottom-style: solid;
    border-bottom-color: black;
}
