# Composer
vendor
composer.phar

# Run configurations
.idea/**
!.idea/runConfigurations/
.idea/runConfigurations/**
!.idea/runConfigurations/Docker_debug.xml
!.idea/runConfigurations/Up_debug_environment.xml
!.idea/runConfigurations/Down_debug_environment.xml
!.idea/runConfigurations/Up_normal_environment.xml
!.idea/runConfigurations/Down_normal_environment.xml
