/* TODO: Use CSS preprocessor */

@font-face {
    font-family: JetBrainsMonoMedium;
    src: url("fonts/JetBrainsMono-Medium.woff");
}

@font-face {
    font-family: JetBrainsMonoExtraBold;
    src: url("fonts/JetBrainsMono-ExtraBold.woff");
}

body, input {
    font-family: JetBrainsMonoMedium, sans-serif;
    font-size: 100%;
    margin: 0;
}

input {
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

th, td {
    text-align: center;
    border: 0.1em solid;
    padding: 0.3em;
}

.page-header {
    font-family: JetBrainsMonoExtraBold, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
