.page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-text-field {
    font-size: 1.25em;
    width: 15em;
    height: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    border-width: 0.1em;
    padding: 0 1.5em;
    margin-bottom: 0.5em;
}

.form-text-area {
    font-size: 1.5em;
    width: 20em;
    height: 10em;
    border-style: solid;
    border-color: black;
    border-width: 0.15em;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
}

.form-button {
    font-size: 1.25em;
    background-color: #edeef0;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.75em;
    margin-top: 0.5em;
}

.form-button:hover {
    background-color: #d9dadc;
}
