{% extends "base_template.twig" %}

{% block page_title %}
    Edit Link
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="styles/page-form.css">
{% endblock %}

{% block page_header %}
    Link editor
{% endblock %}

{% block page_content %}
    <form method="post">
        <label class="page-form">
            <input class="form-text-field" name="new_original_link" placeholder="Enter new original link"
                   value="{{ originalLink }}" type="text">
            <input class="form-button" value="Save" type="submit">
        </label>
    </form>
{% endblock %}
