{% extends "base_template.twig" %}

{% block page_title %}
    Link Shortener
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="/styles/page-form.css">
{% endblock %}

{% block main_page_menu_button %}
    <a href="/main.php">
        <div class="menu-button selected-menu-button">
            Main Page
        </div>
    </a>
{% endblock %}

{% block page_header %}
    Service for shortening links
{% endblock %}

{% block page_content %}
    <form>
        <label class="page-form">
            <input class="form-text-field" name="original_link" placeholder="Enter original link" type="text">
            <input class="form-button" value="Shorten it!" type="submit">
        </label>
    </form>
{% endblock %}
