@font-face {
    font-family: JetBrainsMonoMedium;
    src: url("fonts/JetBrainsMono-Medium.woff");
}

@font-face {
    font-family: JetBrainsMonoExtraBold;
    src: url("fonts/JetBrainsMono-ExtraBold.woff");
}

body, input {
    font-family: JetBrainsMonoMedium, sans-serif;
    font-size: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.page-header {
    font-family: JetBrainsMonoExtraBold, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
