@font-face {
    font-family: JetBrainsMonoMedium;
    src: url("fonts/JetBrainsMono-Medium.woff");
}

@font-face {
    font-family: JetBrainsMonoExtraBold;
    src: url("fonts/JetBrainsMono-ExtraBold.woff");
}

body {
    font-family: JetBrainsMonoMedium, sans-serif;
    font-size: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;
}
