.service-description {
    font-family: "JetBrains Mono ExtraBold", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shorten-link-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.original-link-field {
    font-size: 1.25em;
    width: 30%;
    height: 2em;
    border-color: black;
    border-radius: 1em;
    border-width: 0.1em;
    padding: 0 1.5em;
}

.shorten-link-button {
    font-size: 1.25em;
    background-color: #edeef0;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.75em;
    margin-top: 0.5em;
}

.shorten-link-button:hover {
    background-color: #d9dadc;
}
