.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-button {
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    margin: 0.313em;
}

.menu-button:hover, .selected-menu-button {
    background-color: #e3e4e6;
}

.selected-menu-button {
    border-bottom-style: solid;
    border-bottom-color: black;
}
