@media (min-width: 0) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-bottom: black solid 0.1em;
    }
}

@media (min-width: 70em) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-bottom: none;
    }

    .selected-menu-button {
        border-bottom-style: solid;
        border-bottom-color: black;
    }
}

.menu-button {
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    margin: 0.313em;
}

.menu-button:hover, .selected-menu-button {
    background-color: #e3e4e6;
}
